<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename ='main.css')}}">
        {% if title %}
            <title> Search Game - {{ title }} </title>
        {% else %}
            <title>Game Zone</title>
        {% endif %}
    </head> 
    <body>
        <!--Nav bar code from bootstrap-->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top bg-steel-new ">
              <div class="container">
              <a class="navbar-brand mr-4" href="/">Game</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
                    <a class="nav-item nav-link" href="/about">About</a>
                  </div>
                </div>
            </div>
            </nav>
        </header>
        <div style="text-align: center;">
        <h1 style="padding-top: 60px;"> Welcome to this Study </h1>
        </div>
        <h6><ul>•	You will be presented with a patient profile displaying symptoms and clinical signs of a given disorder</ul>
            <ul> •	Using one of three tools provided, you will look at other profiles relating to your assigned profile in order to explore potential diagnoses</ul>
                <ul>•	There will be four rounds lasting two minutes to research the profile</ul>
                <ul>•	After each round, you will be asked to type your top 3 guesses in this website</ul>
                <ul>•	You may leave guesses blank if you are unsure</ul>
                <ul>•	The aim of the game is to reach the correct diagnosis as soon as possible</ul>
                <ul>•	You have played <GAMES_PLAYED> of 3 games
            </ul>
            </h6>
        

        <!-- start-button.html -->
     <div class="button-wrapper">
    <a href="/round/1" class="btn btn-primary">Start the Game!</a>
</div>   